<div id="<%= dom_id conversation %>" class="border border-primary p-5">
  <strong class="text-muted">
    <%= conversation.subject %>
  </strong><br><br>

  <small>
    <%= conversation.contact_id %>
  </small>
</div>
