<div id="<%= dom_id conversation %>" class="border border-primary p-5 my-3">
  <strong class="text-muted">
    <%= link_to conversation.subject, conversation %>
  </strong><br><br>

  <small class="border border-success p-2 rounded">
    <%= link_to conversation.contact.name, conversation.contact %>
  </small>
</div>
