<p style="color: green"><%= notice %></p>

<h1 class="mb-5">Conversations</h1>

<div id="conversations">
  <% @conversations.each do |conversation| %>
    <%= render conversation %>
    <p>
      <%= link_to "Show this conversation", conversation, class: "btn btn-sm btn-outline-dark mt-3" %>
    </p>
  <% end %>
</div>

<%= link_to "New conversation", new_conversation_path, class: "btn btn-sm btn-outline-dark mt-3" %>
