<p class="display-3 text-center my-5 text-success">
  Conversations
</p>

<%= turbo_stream_from 'conversations' %>
<div id="conversations">
  <%= render @conversations %>
</div>

<%= link_to "New conversation", new_conversation_path, class: "btn btn-sm btn-outline-dark mt-3" %>
