<h1 class="mb-5">New conversation</h1>

<%= render "form", conversation: @conversation %>

<br>
<div>
  <%= link_to "Back to conversations", conversations_path, class: "btn btn-sm btn-outline-dark" %>
</div>
