<div id="<%= dom_id contact %>" class="border border-primary p-5">
  <strong class="text-muted">
    <%= contact.name %>
  </strong><br><br>

  <small class="border border-success p-2 rounded">
    <%= contact.email %>
  </small>
</div>
